#### Lambda Function in Python

lambda function are small anonymous function defined using the lambda keyword. They can have any number of arguments but only one expression. They are commonly used for short operations or as arguments to higher-order functions.

In [ ]:
#Syntax
lambda arguments : expression

In [1]:
def addition(a, b):
    return a+b

In [2]:
addition(2,3)

5

In [5]:
addition = lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [7]:
def even(num):
    if num%2==0:
        return True
    
even(34)

True

In [8]:
even1=lambda num:num%2==0
even1(12)

True

In [9]:
def addition(x,y,z):
    return x+y+z
addition(1,2,3)

6

In [10]:
addition1= lambda a,b,c:a+b+c

addition1(1,2,3)

6

In [11]:
## map() -- applies a function to all items in a list
numbers = [1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [13]:
list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36]