In [2]:
lst=[]
print(type(lst))

<class 'list'>

In [3]:
name=["krish", "jack", "jaccob", 1, 2, 3, 4, 5]
print(name)

['krish', 'jack', 'jaccob', 1, 2, 3, 4, 5]

In [4]:
mixed_list=[1,"hello",3.14,True]
print(mixed_list)

[1, 'hello', 3.14, True]

In [5]:
### Accessing List Elements

fruits=["apple", "banana", "cherry", "kiwi", "guava"]

In [11]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
guava
guava

In [20]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:-3])

['banana', 'cherry', 'kiwi', 'guava']
['banana', 'cherry']
[]

In [21]:
## Modifying the List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'guava']

In [23]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'guava']

In [24]:
fruits[1:]="watermelons"

In [25]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n', 's']

In [26]:
fruits=["apple", "banana", "cherry", "kiwi", "guava"]

In [28]:
# List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'guava', 'orange', 'orange']

In [31]:
fruits.insert(1, "watermelon")

In [32]:
print(fruits)

['apple', 'watermelon', 'banana', 'banana', 'cherry', 'kiwi', 'guava', 'orange', 'orange']

In [ ]:
fruits.remove("banana") ## Removing the first accurce of the item
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava', 'orange', 'orange']

In [35]:
## Remove and return the last
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava']

In [39]:
index= fruits.index("cherry")
print(index)

2

In [40]:
fruits.insert(2, "banana")
print(fruits.count("banana"))

1

In [41]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'guava']

In [ ]:
fruits.sort() ## Sort the list in ascending order

In [43]:
fruits

['apple', 'banana', 'cherry', 'guava', 'kiwi', 'watermelon']

In [ ]:
fruits.reverse()  #Reverse the list

In [46]:
fruits

['watermelon', 'kiwi', 'guava', 'cherry', 'banana', 'apple']

In [47]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [48]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [51]:
## Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [54]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [71]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [58]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# list comprehension

Basic Syntax            [expression for item in iterable]

with condition logic    [expression for item in iterable  if condition]

Nested list Comprehension [expression for item1 in iterabel for items2 in iterables]

In [59]:
### basic List comphersion

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [68]:
###List comprehension with condition
lsts=[]
for i in range(10):
    if i%2==0:
        lsts.append(i)
print(lsts)

[0, 2, 4, 6, 8]

In [64]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [74]:
## Nested List Comphresion

lst1=[1,2,3,4]
lst2=['a', 'b', 'c', 'd']

pair=[[i,j] for i in lst1 for j in lst2 ]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [75]:
## List Comperhension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths) #Output [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]