In [1]:
## creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1, 2, 3, 4, 5, 6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1, "hello world", 3.14, True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [ ]:
## Assessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [8]:
numbers[0]

1

In [9]:
print(numbers[2])
print(numbers[-1])

3
6

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::]

(1, 2, 3, 4, 5, 6)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [14]:
## Tuple Operation

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 3.14, True)

In [15]:
mixed_tuple *3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [16]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [20]:
## Immutable Nature of Tuples
## Tuple are immutable, meaning their elements cannot be changes once assigned

lst=[1, 2, 3, 4, 5]
print(lst)
lst[1] = "krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

In [22]:
numbers[1] = "krish"

TypeError: 'tuple' object does not support item assignment

In [25]:
numbers

(1, 2, 3, 4, 5, 6)

In [26]:
## Tuple Method
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple
## packing 
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [29]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [30]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4,5],[6,7,8,9,],[1,"Hello",3.14,"c"]]
lst[0][::-1]

[5, 4, 3, 2, 1]

In [39]:
lst=[[1,2,3,4,5],[6,7,8,9,],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [42]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[1][2])

c

In [45]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end="")
    print()

123
abc
TrueFalse