In [4]:
import sqlite3

In [5]:
## connect to an Sqlite database
connection = sqlite3.connect('expample.db')

In [6]:
cursor = connection.cursor()

In [8]:
### Create a Table
cursor.execute('''
Create Table If Not Exists employess(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
               ''')

### commit the changes
connection.commit()

In [9]:
cursor.execute('''
    select * from employess
               ''')

In [12]:
## Inter the data in sqlite table
cursor.execute('''
Insert Into employess(name,age,department)
            values('Krish', 32, 'Data Scientist')
''')

cursor.execute('''
Insert Into employess(name,age,department)
            values('bob', 32, 'Builder')                          
''')

cursor.execute('''
Insert Into employess(name,age,department)
            values('Batman', 32, 'Super Hero')
''')

connection.commit()

In [14]:
cursor.execute('Select * from employess')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'bob', 32, 'Builder')
(3, 'Batman', 32, 'Super Hero')
(4, 'Krish', 32, 'Data Scientist')
(5, 'bob', 32, 'Builder')
(6, 'Batman', 32, 'Super Hero')

In [15]:
## Update the data in table
cursor.execute(
    '''
    UPDATE employess
    Set age= 34
    where name = 'Krish'
    '''
)
connection.commit()

In [16]:
cursor.execute('Select * from employess')
rows = cursor.fetchall()

## print the queried data

for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'bob', 32, 'Builder')
(3, 'Batman', 32, 'Super Hero')
(4, 'Krish', 34, 'Data Scientist')
(5, 'bob', 32, 'Builder')
(6, 'Batman', 32, 'Super Hero')

In [17]:
## Delete the data from the table

cursor.execute('''
    Delete from employess
    where name = 'bob'
    '''
)
connection.commit()

In [21]:
## Working with Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
               CREATE TABLE IF NOT EXISTS sales (
                   id INTEGER PRIMARY KEY,
                   date TEXT NOT NULL,
                   product TEXT NOT NULL,
                   sales INTEGER,
                   region TEXT
               )
               ''')
## Insert data into the sales table
sale_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
   Insert into sales(date, product, sales, region)
                    values(?,?,?,?)                
''', sale_data )
connection.commit()

In [22]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [23]:
## close the connection
connection.close()