# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [37]:
dics = {x:x*x for x in range(1,11)}
print(dics)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [38]:
print(dics[5])
print(dics.keys())
print(dics.values())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dict_values([1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

In [39]:
dics[11] = 121
dics.pop(1)
print(dics)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [43]:
for key, value in dics.items():
    print(f"key {key} : Value {value}")

key 2 : Value 4
key 3 : Value 9
key 4 : Value 16
key 5 : Value 25
key 6 : Value 36
key 7 : Value 49
key 8 : Value 64
key 9 : Value 81
key 10 : Value 100
key 11 : Value 121

In [25]:
d_cube = {x:x**3 for x in range(1,11)}
print(d_cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
dc = {x:x**3 for x in range(1,11)}
ds = {x:x**2 for x in range(1,11)}
dm = dc | ds
print(dm)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
student = {
    "name" :"soumya", 
    "age":21, 
    "grade": {
        "math":"A", 
        "science": "b+",
        "english" : "A"
        }
    }

print(student)

{'name': 'soumya', 'age': 21, 'grade': {'math': 'A', 'science': 'b+', 'english': 'A'}}

In [33]:
dlm = {x:[x*5 for x in range(1,6)] for x in range(1,6)}
print(dlm)

{1: [5, 10, 15, 20, 25], 2: [5, 10, 15, 20, 25], 3: [5, 10, 15, 20, 25], 4: [5, 10, 15, 20, 25], 5: [5, 10, 15, 20, 25]}

In [37]:
dt = {x:(x,x**2) for x in range(1,6)}
print(dt)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [8]:
d = {x:x**2 for x in range(1,11) if x%2 == 0}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [45]:
d = {x:x**2 for x in range(1, 11)}
print(d)
de ={}
for x in d:
    if x%2 ==0:
        de[x] = d[x]
print(de)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
import random
random.randint

In [5]:
x = {x:x**2 for x in range(1,6)}
print(x)
swip = {s:y for y,s in x.items()}
print(swip)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [12]:
dd = {d:[] for d in range(1,6)}
print(dd)
dd[1] = [1,2,3,4]
print(dd)

{1: [], 2: [], 3: [], 4: [], 5: []}
{1: [1, 2, 3, 4], 2: [], 3: [], 4: [], 5: []}

In [18]:
from collections import defaultdict

dd = defaultdict(list)
dd["a"].append(1)
dd["b"].append(2)
dd["c"].append(3)
print(dd)

defaultdict(<class 'list'>, {'a': [1], 'b': [2], 'c': [3]})

In [21]:
len("hello")

5

In [22]:
def count_string(STR):
    a = len(STR)
    b = {str(STR): a}
    print(b)

count_string("fsdf")

{'fsdf': 4}

In [25]:
def count_str(s):
    count = {}
    for i in s:
        count[i] = count.get(i, 0) + 1
    return count

a = count_str("hello world")
print(a)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [29]:
import json
a = {"title" : "hero", "Author": 'monkey', 'year' : 2006, "genre": "sci-fy"}
print(a)
b = json.dumps(a)
print(b)

{'title': 'hero', 'Author': 'monkey', 'year': 2006, 'genre': 'sci-fy'}
{"title": "hero", "Author": "monkey", "year": 2006, "genre": "sci-fy"}

In [35]:
d = {x:x**2 for x in range(1,11) if x%2 ==0}
c = {a:b for a,b in d.items() if a%2 ==0}
print(d)
print(c)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}