# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [7]:
st = set(range(1, 11))
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
st.add(11)
print(st)
st.remove(1)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [2]:
st1 = set(range(1, 6))
st2 = set()
for i in range(1, 11):
    if i%2 ==0:
        st2.add(i)
print(st2)
st3 = st1.union(st2)
print(f"union: {st3}")
st3 = st1.intersection(st2)
print(f'intersection: {st3}')
st3 = st1.difference(st2)
print(f'difference : {st3}')
st3 = st1.symmetric_difference(st2)
print(f'smt_diff{st3}')

{2, 4, 6, 8, 10}
union: {1, 2, 3, 4, 5, 6, 8, 10}
intersection: {2, 4}
difference : {1, 3, 5}
smt_diff{1, 3, 5, 6, 8, 10}

In [14]:
print(st1)
print(st2)
print(f"union {st1 | st2}")
print(f"intersection {st1 & st2}")
print(f"difference {st1 - st2}, {st2 - st1}")
print(f"symmetric_difference {st1 ^ st2}")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
union {1, 2, 3, 4, 5, 6, 8, 10}
intersection {2, 4}
difference {1, 3, 5}, {8, 10, 6}
symmetric_difference {1, 3, 5, 6, 8, 10}

In [16]:
set4 = set(range(1, 11))
print(set4)
square = {x**2 for x in set4}
print(square)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [18]:
St4 = {x for x in st if x%2 ==0}
print(St4)

{2, 4, 6, 8, 10}

In [20]:
st5 = {1, 2, 3, 4, 4, 4, 5, 6, 3, 5}
unique = set(st5)
print(unique)

{1, 2, 3, 4, 5, 6}

In [54]:
Set1 = set(range(1,6))
Set2 = set(range(1, 4))
Set1.issubset(Set2)
Set2.issubset(Set1)

True

In [24]:
st1 = frozenset(range(1, 6))
print(st1)

frozenset({1, 2, 3, 4, 5})

In [25]:
st2 = set(range(1, 6))
lst1 = list(st2)
lst1.append(6)
st2 = set(lst1)
print(st2)

{1, 2, 3, 4, 5, 6}

In [30]:
st = {
    frozenset({'soumya'}) : 30,
    frozenset({"Prince"}) :28,
    frozenset({'Sriyansh'}) : 34
}

print(st)

{frozenset({'soumya'}): 30, frozenset({'Prince'}): 28, frozenset({'Sriyansh'}): 34}

In [52]:
st23 = set(range(6))
for i in st23:
    print(i, end="")

012345

In [53]:
while st23:
    st23.pop()
    print(st23)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [41]:
st1 = set(range(1,5))
st2 = {2, 5, 7, 8, 9, 10}
st1 = st1.symmetric_difference(st2)
print(st1)

{1, 3, 4, 5, 7, 8, 9, 10}

In [51]:
print(3 in st1)
print(2 in st1)

True
False

In [50]:
s = {(1, 2), (3, 4), (5, 6)}
print(s)

{(1, 2), (3, 4), (5, 6)}