# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [7]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [9]:
print(tpl[0])
print(tpl[-1])
print(tpl[1:-1])

1
10
(2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [43]:
import random
matrix = tuple(tuple(random.randint(1,11) for i in range(3))for i in range(3))
print(matrix)

((6, 3, 1), (6, 6, 7), (5, 5, 9))

In [ ]:
tuple1 = (3, 4, 5)
tuple2 = (5, 6, 7)
tuple3 = tuple1 + tuple2
print(tuple3)

(3, 4, 5, 5, 6, 7)

In [51]:
tuple4 = (3, 4, 5, 5, 6, 7,5,6,7,8,9)
print(tuple4.count(7))
tuple4.index(7)

2

5

In [56]:
tuple5 = (1, 2, 3, 4, 5)
a, b, c, d, e = tuple5
print(a, b, c, d, e)

1 2 3 4 5

In [60]:
lst = list((range(1,4)))
tpl2 = tuple(lst)
print(tpl2)

(1, 2, 3)

In [64]:
Tuple5 = tuple(tuple(random.randint(1,6) for i in range(3))for i in range(3))
print(Tuple5)

((3, 2, 4), (2, 3, 1), (4, 4, 4))

In [68]:
Tuple6 = tuple(range(1,4))
print(Tuple6)
lst2 = list(Tuple6)
lst2.append(6)
Tuple6 = tuple(lst2)
print(Tuple6)

(1, 2, 3)
(1, 2, 3, 6)

In [74]:
Tuple7 = ('s', 'o', 'u', 'm', 'y', 'a')
Variable = ''.join(Tuple7)
print(Variable)

soumya

In [78]:
disc = {('soumya'):'40', ('Prince') : 39, ('Sriyansh') : 37}
print(disc)

{'soumya': '40', 'Prince': 39, 'Sriyansh': 37}

In [81]:
Tuple9 = ((6, 3, 1), (6, 6, 7), (5, 5, 9))

for i in Tuple9:
    for n in i:
        print(n, end="")

631667559

In [89]:
Tuple_9 = (1, 2, 3, 4, 5, 5, 5, 3, 4, 5)
print(type(Tuple_9))
Set1 = set(Tuple_9)
print(Set1)
Tuple_9 = tuple(Set1)
print(Tuple_9)
print(sum(Tuple_9))
print(max(Tuple_9))

<class 'tuple'>
{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)
15
5

In [92]:
def Tuple_fun(A):
    print(f"max of tuple {max(A)}")
    print(f"mix of tuple {min(A)}")
    print(f"Sum of tuple {sum(A)}")

Tuple_fun(Tuple_9)

max of tuple 5
mix of tuple 1
Sum of tuple 15